@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Styles */
body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.heading {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #808080;

}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-family: "Inter", sans-serif;
}

.today-task {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input button {
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    color: white;
    font-family: "Inter", sans-serif;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.task-input button:hover {
    background: linear-gradient(97.42deg, #1444EF -4.95%,#128DFF 109.04%);
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons span {
    cursor: pointer;
    font-size: 18px;
}

.check {
    color: #808080;
    border: 2px solid #808080;
    border-radius: 50%;
    padding: 2px 6px;
}

.check:hover {
    color: #000000;
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 2px 6px;
}

.check.completed {
    background-color: white;
    color: #128DFF;
    border-color: #128DFF;
}

.delete {
    color: #808080;
}

.delete:hover {
    color: #000000;
}